.avis {
  max-width: 105rem;
  margin: 0 auto;
  padding: 3.625rem 9.375rem;
}

.avis h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 2.75rem;
  line-height: 1.2;
  letter-spacing: -0.015em;
  text-transform: uppercase;
  text-align: center;
  color: #152237;
  margin: 0 0 3.25rem 0;
}

.avis-container {
  display: flex;
  justify-content: space-between;
  gap: 8rem;
}

.avis-card {
  flex: 1;
  max-width: 43rem;
}

.avis-photo {
  width: 8.6875rem;
  height: 8.6875rem;
  border-radius: 50%;
  object-fit: cover;
}

.avis-name {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2.25rem;
  letter-spacing: -0.015em;
  color: #152237;
  margin: 0;
}

.avis-rating {
  display: flex;

  gap: 0.25rem;
  color: #ffc700;
  margin: 0.5rem 0;
}

.avis-text {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.875rem;
  letter-spacing: -0.015em;
  text-align: justify;
  color: rgba(0, 0, 0, 0.8);
  margin: 0;
}

@media (max-width: 48rem) {
  .avis {
    padding: 3rem 1.5rem;
  }

  .avis h1 {
    font-size: 1.75rem;
    margin-bottom: 3rem;
  }
  .avis-rating {
    justify-content: center;
  }

  .avis-container {
    flex-direction: column;
    gap: 3rem;
  }

  .avis-card {
    max-width: 100%;
    text-align: center;
  }

  .avis-photo {
    width: 8.6875rem;
    height: 8.6875rem;
    margin: 0 auto 1rem;
  }
}
