.banner {
  width: 100%;
  height: 28.125rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
      94.01deg,
      rgba(68, 221, 138, 0.8) 3.11%,
      rgba(21, 183, 226, 0.8) 98.45%
    ),
    url("../assets/bg-header.png");
  background-size: cover;
  background-position: center;
}

.banner-content {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #152237;
  max-width: 63.8125rem;
  padding: 0 1rem;
}

.banner-content h1 {
  font-size: 3rem;
  font-weight: 800;
  line-height: 0.6875rem;
  letter-spacing: -0.015em;
  text-transform: uppercase;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.banner-content p {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.5rem;
  letter-spacing: -0.015em;
  text-transform: uppercase;
  margin-bottom: 1.3rem;
}

@media (max-width: 768px) {
  .banner {
    height: 22.75rem;
    background: linear-gradient(
        94.01deg,
        rgba(68, 221, 138, 0.8) 3.11%,
        rgba(21, 183, 226, 0.8) 98.45%
      ),
      url("../assets/bg-header-mob.png");
    background-size: 100% auto;
    background-position: bottom;
  }

  .banner-content h1 {
    font-size: 200%;
    margin-top: 1.5rem;
    line-height: 2.5rem;
    margin-bottom: 0rem;
    max-width: 25rem;
  }

  .banner-content p {
    font-size: 130%;
    line-height: 1.5rem;
    max-width: 25.5rem;
    margin-bottom: 2rem;
  }
}
