@import url("navbar.css");
@import url("banner.css");
@import url("courses-sections.css");
@import url("avis.css");
@import url("feature-section.css");

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  background-color: #ffffff;
  color: #152237;
}
