.navbar {
  display: flex;
  align-items: center;
  background-color: #152237;
  padding: 0 7rem;
  height: 5rem;
  color: #ffffff;
  gap: 10vw;
}

.navbar-logo img {
  height: 1.9375rem;
}

.navbar-menu {
  display: flex;
  align-items: center;
  gap: 10vw;
}

.navbar-link {
  color: #ffffff;
  text-decoration: none;
  font-size: 0.9375rem;
  font-weight: 500;
}

.search-form {
  display: flex;
  align-items: center;
  border: 1px solid #ffffff;
  border-radius: 0.375rem;
  padding: 0.25rem 0.5rem;
  width: 28.4vw;
}

.search-input {
  background: transparent;
  border: none;
  color: #ffffff;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  outline: none;
  flex-grow: 1;
}

.search-input::placeholder {
  color: #ffffff;
}

.search-button {
  background: transparent;
  border: none;
  color: #ffffff;
  cursor: pointer;
}

.navbar-actions {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-left: auto;
}

.btn {
  border: none;
  border-radius: 0.375rem;
  padding: 0.6875rem 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 0.9375rem;
  cursor: pointer;
  text-align: center;
  width: 8.125rem;
  height: 2.5rem;
}

.btn-login {
  background-color: #ffffff;
  color: #152237;
}

.btn-signup {
  background: linear-gradient(95.98deg, #44dd8a 8.7%, #15b7e2 100%);
  color: #152237;
}

.navbar-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
  background: transparent;
  border: none;
}

@media (max-width: 768px) {
  .navbar {
    padding: 0 2rem;
  }

  .navbar-menu,
  .navbar-actions {
    display: none;
  }

  .navbar-toggle {
    display: flex;
    margin-left: auto;
  }

  .navbar-toggle svg {
    width: 4rem;
    height: 4rem;
  }
}
