.navbar {
  display: flex;
  align-items: center;
  background-color: #152237;
  padding: 0 7rem;
  height: 5rem;
  color: #ffffff;
  gap: 9vw;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar-logo img {
  height: 1.9375rem;
}

.navbar-menu {
  display: flex;
  align-items: center;
  gap: 10vw;
}

.navbar-link {
  color: #ffffff;
  text-decoration: none;
  font-size: 0.9375rem;
  font-weight: 300;
  white-space: nowrap;
}

.search-form {
  display: flex;
  align-items: center;
  border: 1px solid #ffffff;
  border-radius: 0.375rem;
  padding: 0.25rem 0.5rem;
  width: 28.4vw;
}

.search-input {
  background: transparent;
  border: none;
  color: #ffffff;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  outline: none;
  flex-grow: 1;
}

.search-input::placeholder {
  color: #ffffff;
}

.search-button {
  background: transparent;
  border: none;
  color: #ffffff;
  cursor: pointer;
}

.navbar-actions {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-left: auto;
}

.btn {
  border: none;
  border-radius: 0.375rem;
  padding: 0.6875rem 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 0.9375rem;
  cursor: pointer;
  text-align: center;
  width: 8.125rem;
  height: 2.5rem;
}

.btn-login {
  background-color: #ffffff;
  color: #152237;
}

.btn-signup {
  background: linear-gradient(95.98deg, #44dd8a 8.7%, #15b7e2 100%);
  color: #152237;
}
.mobile-search-form {
  display: none;
}

.navbar-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
  background: transparent;
  border: none;
}

.navbar-toggle svg {
  transition: transform 0.3s ease;
}

.navbar-toggle.active svg {
  transform: rotate(90deg);
}

@media (max-width: 768px) {
  .navbar {
    padding: 0 1.5rem;
  }

  .navbar-menu,
  .navbar-actions {
    display: none;
    position: absolute;
    top: 5rem;
    left: 0;
    right: 0;
    background-color: #152237;
    flex-direction: column;
    padding: 2rem 1.5rem;
    gap: 1.5rem;
    z-index: 999;
  }

  .navbar-menu.active,
  .navbar-actions.active {
    display: flex;
  }

  .navbar-menu .search-form {
    display: none;
  }

  .mobile-search-form {
    display: flex;
    width: 100%;
  }
  .navbar-menu {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding-bottom: 2rem;
  }

  .navbar-link {
    font-size: 1rem;
    display: block;
    padding: 0.5rem 0;
  }

  .search-form {
    width: 100%;
  }

  .navbar-toggle {
    display: flex;
    margin-left: auto;
  }

  .navbar-toggle svg {
    width: 4rem;
    height: 4rem;
  }

  .btn {
    width: 100%;
  }
  .btn-learnMore {
    max-width: 130px;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .navbar {
    padding: 0 2rem;
    gap: 3vw;
  }

  .navbar-menu {
    gap: 4vw;
  }

  .search-form {
    width: 20vw;
  }

  .btn {
    width: 6rem;
    font-size: 0.8rem;
  }
}
